<v-footer
  dark
  padless
>
  <v-card
    flat
    tile
    class="text-center"
  >
    <v-card-text class="cyan darken-1 white--text">
      &copy [[ new Date().getFullYear() ]] — <strong>The Djinar team</strong>
      <v-spacer></v-spacer>
      <v-btn
          class="mx-4 white--text"
          icon
      >
        <v-icon size="24px">mdi-github-circle</v-icon>
      </v-btn>
      <v-btn
          class="mx-4 white--text"
          icon
      >
        <v-icon size="24px">mdi-twitter</v-icon>
      </v-btn>
        <v-btn
          class="mx-4 white--text"
          icon
      >
        <v-icon size="24px">mdi-linkedin</v-icon>
      </v-btn>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-text class="gray lighten-1 white--text pt-0">
      <p>django-webinar (Djinar) is open source software and its powered by Django web framework, Vue.js progressive JavaScript framework and Janus WebRTC gateway its available through the MIT license. If you'd like to get involved in the project read the developers guide, if you'd like custom support contact the development team.</p>
    </v-card-text>
  </v-card>
</v-footer>
