<v-footer
  dark
  padless
>
  <v-card
    flat
    tile
    class="gray lighten-1 white--text text-center"
  >
    <v-card-text>
      <v-btn
        class="mx-4 white--text"
        icon
      >
        <v-icon size="24px">mdi-github-circle</v-icon>
      </v-btn>
      <v-btn
        class="mx-4 white--text"
        icon
      >
        <v-icon size="24px">mdi-twitter</v-icon>
      </v-btn>
      <v-btn
        class="mx-4 white--text"
        icon
      >
        <v-icon size="24px">mdi-linkedin</v-icon>
      </v-btn>
    </v-card-text>

    <v-card-text class="white--text pt-0">
      <p>django-webinar is open source software and its powered by Django web framework, Vue.js frontend framework and Janus WebRTC gateway its available through the MIT license. If you'd like to get involved in the project read the developers guide, if you'd like custom support contact the development team.</p>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-text class="indigo white--text">
      &copy [[ new Date().getFullYear() ]] — <strong>The Djinar team</strong>
    </v-card-text>
  </v-card>
</v-footer>
