{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="main">
    <v-app id="inspire">
      <v-app-bar
        app
        color="indigo"
        dark
      >
        <v-toolbar-title>Djinar</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon href="{% url 'home:index' %}">
          <v-icon>mdi-apps</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-bell</v-icon>
        </v-btn>
      </v-app-bar>

      <v-content
        class="mx-auto"
        max-width="500"
      >
        <v-container
          class="fill-height"
          fluid
        >
          <v-row dense>
            <v-col
              cols="4"
            >
              <v-card>
                <v-img
                  src="{% static "img/contacts_512.png" %}"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title v-text="'Contacts'"></v-card-title>
                </v-img>

                <v-card-actions>
                  <v-btn
                    color="indigo"
                    href="{% url 'contacts:index' %}"
                    text
                  >
                    Explore
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                  >
                    <v-icon>mdi-account-plus-outline</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-col
              cols="4"
            >
              <v-card>
                <v-img
                  src="{% static "img/calendar_512.png" %}"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title v-text="'Events'"></v-card-title>
                </v-img>
                <v-card-actions>
                  <v-btn
                    color="indigo"
                    text
                  >
                    Explore
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                  >
                    <v-icon>mdi-calendar-plus</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-col
              cols="4"
            >
              <v-card>
                <v-img
                  src="{% static "img/account_512.png" %}"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title v-text="'Account'"></v-card-title>
                </v-img>
                <v-card-actions>
                  <v-btn
                    color="indigo"
                    text
                  >
                    Explore
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
      {% include "footer.html" %}
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#main',
      delimiters: ['[[', ']]'],
      vuetify: new Vuetify(),
      props: {
        source: String,
      }
    })
  </script>
</body>
</html>
